  <header class="d-flex flex-wrap justify-content-center py-3  border-bottom" style="background-color:#98c998">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
     <img src="/assets/ff.png" style="width:39px; height: 42px;">
      <span class="fs-4"><b> <i>FreshFood</i></b> </span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" class="nav-link " aria-current="page" >Home</a></li>
      <li class="nav-item"><a routerLink="menu" routerLinkActive="active-link" class="nav-link" style="color:black">Menu</a></li>
      <li class="nav-item"><a routerLink="about" routerLinkActive="active-link" class="nav-link" style="color:black">About</a></li>
      <li class="nav-item"><a routerLink="contact" routerLinkActive="active-link" class="nav-link" style="color:black">Contact</a></li>

    </ul>
  </header>
