<div class="food">
<div class="container mt-3 mb-3">
    <h1 class="text-center">About</h1>
    <br>
    <br>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <img src="/assets/pizza.avif" alt="">
        </div>
        <div class="col-lg-6">
          <h1>The Best Food Ordering App</h1>
          <br>
          <p>FoodChow has an Innovative food ordering app available on iPhone and Android. You can find nearby Restaurants and place order by viewing Restaurant Menu. The App helps you to take you to the Restaurant you like to visit through GPS, as well as share your experience by giving your own review and rating.</p>
         <br> <img src="/assets/playstore.png" style="height: 49px;
        width: 204px;">
        </div>

    </div>
</div>
</div></div>